<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='data.css') }}" type="text/css">
  <title>Document</title>
</head>
<body class="min-w-full">
  <div id="app" class="p-4">
    <h2 class="text-lg font-semibold">数据明细<span id="indicator"></span></h2>
    <div id="details" class="table-container overflow-x-auto"></div>
  </div>
</body>
<script src="{{ url_for('static', filename='data.js') }}"></script>
</html>
