<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">
  <title>Document</title>
</head>
<body>
  <h1 class="page-title">科室总览</h1>
  <div id="app"></div>
</body>
<script src="https://unpkg.com/dayjs@1.11.11/dayjs.min.js"></script>
<script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
